<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CEP</th>
        <th scope="col">Endereço</th>
        <th scope="col">Número</th>
        <th scope="col">Cidade</th>
        <th scope="col">UF</th>
        <th scope="col">Celular</th>
        <th scope="col">
          <button class="btn btn-link p-0 border-0 text-primary" [routerLink]="['/pessoas/add']">
            <i class="fa-solid fa-square-plus fa-2x"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cep }}</td>
        <td>{{ pessoa.endereco }}</td>
        <td>{{ pessoa.numeroCasa }}</td>
        <td>{{ pessoa.cidade }}</td>
        <td>{{ pessoa.uf }}</td>
        <td>{{ retornaApenasOCelular(pessoa) }}</td>
        <td>
          <button class="btn btn-link p-0 border-0 me-3" [routerLink]="['/pessoas/edit', pessoa.id]">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          </button>

          <button class="btn btn-link p-0 border-0 text-danger" (click)="isDelete(pessoa.id ?? 0)"> <!--ver por que o 0-->
            <i class="fa-solid fa-trash fa-lg"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
