<div class="container">
  <form>
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="number" class="form-control" id="id" aria-describedby="idHelp">
      <div id="idHelp" class="form-text">Insira o ID da pessoa.</div>
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome">
    </div>
    <div class="mb-3">
      <label for="cep" class="form-label">CEP</label>
      <input type="text" class="form-control" id="cep">
      <div id="cepHelp" class="form-text">Insira o CEP corretamente.</div>
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="endereco">
    </div>
    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="cidade">
    </div>
    <div class="mb-3">
      <label for="uf" class="form-label">UF</label>
      <input type="text" class="form-control" id="uf">
    </div>
    <div class="mb-3">
      <label for="tipoContato" class="form-label">Tipo de Contato</label>
      <input type="text" class="form-control" id="tipoContato">
    </div>
    <div class="mb-3">
      <label for="contato" class="form-label">Contato</label>
      <input type="tel" class="form-control" id="contato">
      <div id="contatoHelp" class="form-text">Insira o número de contato.</div>
    </div>
  </form>
</div>
